<div class="container">
    <div class="page-header">
        <h1>Wells</h1>
    </div>
    <div class="row">
        <div *ngFor="let well of wells" class="col-xs-12 col-sm-4">
            <div class="well well-lg">
                <p><small>Name: </small><span>{{well.name}}</span></p>
                <p><small>Type: </small><span>{{well.type}}</span></p>
                <p>
                    <small>Source Key: </small>
                    <span>{{well.sourceKey}}</span>
                </p>
            </div>
        </div>
    </div>
</div>